span{
    font-size: 20px;
    font-weight: bold;
}
.img{
    width: 100px;
    height: 100px;
    padding:3px;
}

.name{
    font-size: 15px;
    font-weight: bold;
    padding:3px;
}

.rows{
    border: 1px solid black;
    margin:10px;
}

p{
    font-size: 20px;
}

col{
    align-content: flex-end;
}